.navbar{
	background: rgba(255,255,255,0.2);
}
.navbar .navbar-brand{
    display: flex;
    align-items: center;
    padding: 0% 2%
}
.navbar .brand-name{
    font-family: var(--font-text);
    font-size: 2rem;
    font-weight: 600;
}