body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hehe{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}
.hehe:before {
  content: "";
  background: url('./Images/beautiful.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.hehe .result .temp{
  font-weight: 400;
}
.hehe .result .actual{
  font-weight:bolder;
}

.result .left .actual{
  font-size: 8rem;
}

.result .bottom{
  /* Position */
  position: relative;
  bottom: 15%;
  /* Style */
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
